{{define "user/user.html"}}
    <!-- Main content -->
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">用户管理</h3>
                <div class="card-tools">
                    <div style="float: left">
                        <button type="button"
                                class="btn btn-success btn-xs"
                                style="height: 31px"
                                data-toggle="modal"
                                data-target="#modal-save-user"
                                id="user-btn-to-save"
                        >新增
                        </button>
                    </div>
                    <div style="float: left">
                        <div class="input-group input-group-sm" style="width: 150px;margin-top:0">
                            <input type="text" id="table_search" class="form-control float-right"
                                   placeholder="Search">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-default" id="user-form-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>账号</th>
                        <th>角色</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="table-content">
                    <tr>
                        <td>1</td>
                        <td>lkfjldjpoawhpfmhpliadsfljoo</td>
                        <td><span class="badge bg-danger">管理员</span><span class="badge bg-primary">普通</span></td>
                        <td><span class="badge bg-success">正常</span><span class="badge bg-secondary">停用</span></td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs">删除</button>
                            <button type="button" class="btn btn-warning btn-xs">修改/查看</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right" id="table-page">
                    <li class="page-item"><a class="page-link" href="#"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">«</font></font></a></li>
                    <li class="page-item"><a class="page-link" href="#"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">1</font></font></a></li>
                    <li class="page-item"><a class="page-link" href="#"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">2</font></font></a></li>
                    <li class="page-item"><a class="page-link" href="#"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">3</font></font></a></li>
                    <li class="page-item"><a class="page-link" href="#"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">»</font></font></a></li>
                </ul>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>

    <div class="modal fade" id="modal-save-user">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增用户</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" id="user-form-save">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email"
                                       name="account"
                                       class="form-control"
                                       id="exampleInputEmail1"
                                       required
                                       minlength="7"
                                       maxlength="15"
                                       placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       id="exampleInputPassword1"
                                       required
                                       minlength="6"
                                       maxlength="8"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2">Password2</label>
                                <input type="password"
                                       name="password2"
                                       class="form-control"
                                       id="exampleInputPassword2"
                                       required
                                       minlength="6"
                                       maxlength="8"
                                       placeholder="Password">
                            </div>
                            <!--<div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-block btn-primary">确定</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- /.content -->
    <script src="/static/js/user/user.js"></script>
{{end}}