/**
{{.ModChina}}
*/
package router

import (
"github.com/gin-gonic/gin"
{{.ControllerName}} "github.com/xuese-go/goStudy01/api/{{.ModPath}}/controller"
"net/http"
)

/**
页面路由
*/
func {{.ModStruct}}RouterHtml(r *gin.RouterGroup){
r.GET("/{{.ModPath}}", func(context *gin.Context) {
context.HTML(http.StatusOK, "{{.ModPath}}/{{.ModPath}}.html", nil)
})
}
/**
api路由
*/
func {{.ModStruct}}Router(r *gin.RouterGroup){
{{.ModPath}} := r.Group("/{{.ModPath}}")
{{.ModPath}}.POST("/{{.ModPath}}", {{.ControllerName}}.Save)
{{.ModPath}}.DELETE("/{{.ModPath}}/:id", {{.ControllerName}}.Delete)
{{.ModPath}}.PUT("/{{.ModPath}}/:id", {{.ControllerName}}.Update)
{{.ModPath}}.GET("/{{.ModPath}}/:id", {{.ControllerName}}.One)
{{.ModPath}}.GET("/{{.ModPath}}", {{.ControllerName}}.Page)
}
