package {{.Pck}}

import ({{.Imps}})

func Save(ctx *gin.Context) {

}

func Delete(ctx *gin.Context) {
    uuid := ctx.Param("deleteId")
    respond := service.DeleteById(uuid)
    resp.Respone(ctx, respond)
}

func Update(ctx *gin.Context) {

}

func One(ctx *gin.Context) {

}

func Page(ctx *gin.Context) {

}